body{
 font-family: 'Beth Ellen';font-size: 22px;

}
#container {
width: 800px;
margin-left:5% ;
margin-right: 5%;
}
header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 0px 25px 0px;
border-bottom: 1px solid #ddd;
}

header h1{
color:#616161;
}

header nav a {
color: #97A1AA;
text-decoration: none;
margin-left: 14px;
}
header nav a:hover {
color: #97A1AA;
text-decoration: underline;
}

section{
padding-top: 50px;
}

.grid-main{
display: grid;
border: 1px solid red;
grid-template-columns: 33.3% 33.3% 33.3%;
}
.grid-block


article{
color: #505050;

}
article h1{
                    font-family: 'Beth Ellen';font-size: 22px;

}
article h2{
font: 400 40px  'lora',georgia,serif;
}

article img {
width: 400px;
height: 300px;
object-fit:contain;
object-position: center;
}
